{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Referrals
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">Preferred name</th>
            <th scope="col" class="govuk-table__header">NINO/CRN</th>
            <th scope="col" class="govuk-table__header">Referral date</th>
            <th scope="col" class="govuk-table__header">SRTI</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag" id="Status 1">Assign to case manager</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag" id="Status 2">Assign to case manager</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-start-assessment" aria-describedby="claimant-detail-start-assessment">Sample Claimant</a></td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" id="Status 3">Claimant assessment needed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" id="Status 4">Gathering claimant information</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="Status 5">In Review</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag" id="Status 6">Assign to case manager</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple" id="Status 5">Decision Made</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--turquoise" id="Status 2">Getting further information</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="Status 3">Closed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-start-assessment" aria-describedby="claimant-detail-start-assessment">Sample Claimant</a></td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" id="Status 3">Claimant assessment needed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink" id="Status 4">Awaiting Decision</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Withdrawn</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag" id="Status 6">Assign to case manager</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="Status 6">In Review</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="Status 6">In Review</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple" id="Status 5">Decision Made</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple" id="Status 5">Decision Made</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Withdrawn</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="Status 3">Closed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="Status 3">Closed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sample Claimant</a></td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">01/02/2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--turquoise" id="Status 2">Getting further information</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
