{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Active referrals
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">NINO</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header">Referral date</th>
            <th scope="col" class="govuk-table__header">SRTI</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Jane Doe</a></td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="Status 1">Unassigned</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Janette Rafe</a></td>
            <td class="govuk-table__cell">RN001123A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="Status 2">Unassigned</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail">Noelle Carmel</a></td>
            <td class="govuk-table__cell">RN000426D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink" id="Status 4">Awaiting Decision</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-report">Sylevette Colwyn</a></td>
            <td class="govuk-table__cell">RN000111N</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-report">Ethan Thornton</a></td>
            <td class="govuk-table__cell">RN000161D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-report">Paige Gael</a></td>
            <td class="govuk-table__cell">RN000771T</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Susanna Shaye</a></td>
            <td class="govuk-table__cell">RN001123B</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag govuk-tag--blue" id="Status 6">Unassigned</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Sand</a></td>
            <td class="govuk-table__cell">RN000111A</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag govuk-tag--blue" id="Status 6">Unassigned</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Sand</a></td>
            <td class="govuk-table__cell">RN001122C</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="Status 6">unassigned</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Fran Simone</a></td>
            <td class="govuk-table__cell">RN001000E</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" id="Status 6">In Review</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Danya Cecylia</a></td>
            <td class="govuk-table__cell">RN000133A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" id="Status 5">In Review</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Xia Jeana</a></td>
            <td class="govuk-table__cell">RN000222A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange" id="Status 4">Gathering information</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">John Brady</a></td>
            <td class="govuk-table__cell">RN000196Z</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="Status 2">Awaiting evidence</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sam Smart</a></td>
            <td class="govuk-table__cell">RN000983A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="Status 2">Awaiting evidence</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-start-assessment" aria-describedby="claimant-detail-start-assessment">John Doe</a></td>
            <td class="govuk-table__cell">RN000146A</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" id="Status 3">Paper based review</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-start-assessment" aria-describedby="claimant-detail-start-assessment">Luce Deryn</a></td>
            <td class="govuk-table__cell">RN000173B</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" id="Status 3">Assessment booked</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail">Leroi Conway</a></td>
            <td class="govuk-table__cell">RN000126F</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink" id="Status 4">Awaiting Decision</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Jing Denholme</a></td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail-report">Elicia Ceara</a></td>
            <td class="govuk-table__cell">RN000999A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail-report">Seth Sheena</a></td>
            <td class="govuk-table__cell">RN000122C</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail">Sammy Cullen</a></td>
            <td class="govuk-table__cell">RN000167A</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 3">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Kerri Pedr</a></td>
            <td class="govuk-table__cell">RN000188C</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 3">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Kristie Hoyt</a></td>
            <td class="govuk-table__cell">RN000199A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 3">Done</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Cassarah Justy</a></td>
            <td class="govuk-table__cell">RN000127C</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Withdrawn</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Lyndon Mererid</a></td>
            <td class="govuk-table__cell">RN000144B</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 5">Withdrawn</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
