{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/finding-and-organising/v2/status-filter2" method="post" class="form">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which status do you want to update the referral to?
              </h1>
            </legend>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Gathering information
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <div class="govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status" name="status2" type="radio" value="list-1">
                      <label class="govuk-label govuk-radios__label" for="status">
                        Questionnaire issued
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-2" name="status2" type="radio" value="list-2">
                      <label class="govuk-label govuk-radios__label" for="status-2">
                        Questionnaire returned
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-3" name="status2" type="radio" value="list-3">
                      <label class="govuk-label govuk-radios__label" for="status-3">
                        Awaiting contact from claimant
                      </label>
                    </div>
                    </div>
                  </div>
                </div>

              </div>
              
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </fieldset>
        </div>

      <button class="govuk-button" data-module="govuk-button">Filter</button>
    </form>

    </div>
  </div>


{% endblock %}
