{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/finding-and-organising/archive/v2/status-filter" method="post" class="form">
      <h1 class="govuk-heading-l">
        Find or filter referrals
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="search-name">
          <strong>Search</strong>
        </label>
        <input class="govuk-input" id="search-name" name="search-name" type="text">
      </div>

      <p>Or</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <strong>View a list based on status</strong>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Select the status type you would like to see.
          </div>
          <div class="govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status" name="status" type="radio" value="unassigned">
              <label class="govuk-label govuk-radios__label" for="status">
                Unassigned (12)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-2" name="status" type="radio" value="in-review">
              <label class="govuk-label govuk-radios__label" for="status-2">
                In review (32)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-3" name="status" type="radio" value="gathering-information">
              <label class="govuk-label govuk-radios__label" for="status-3">
                Gathering information (8)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-4" name="status" type="radio" value="awaiting-evidence">
              <label class="govuk-label govuk-radios__label" for="status-4">
                Awaiting evidence (15)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-5" name="status" type="radio" value="paper-based-review">
              <label class="govuk-label govuk-radios__label" for="status-5">
                Paper based review (6)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-6" name="status" type="radio" value="assessment-booked">
              <label class="govuk-label govuk-radios__label" for="status-6">
                Assessment booked (11)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-7" name="status" type="radio" value="awaiting-decision">
              <label class="govuk-label govuk-radios__label" for="status-7">
                Awaiting decision (3)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-8" name="status" type="radio" value="done">
              <label class="govuk-label govuk-radios__label" for="status-8">
                Done (76)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-9" name="status" type="radio" value="withdrawn">
              <label class="govuk-label govuk-radios__label" for="status-9">
                Withdrawn (13)
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Search</button>
    </form>
    </div>
  </div>

{% endblock %}
