{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/finding-and-organising/v2/assign-list" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which list do you want to assign this referral to?
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">

          </div>
          <div class="govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="list" name="list" type="radio" value="list1">
              <label class="govuk-label govuk-radios__label" for="list">
                List 1 (12)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="list-2" name="list" type="radio" value="list2">
              <label class="govuk-label govuk-radios__label" for="list-2">
                List 2 (32)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="list-3" name="list" type="radio" value="list3">
              <label class="govuk-label govuk-radios__label" for="list-3">
                List 3 (8)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="list-4" name="list" type="radio" value="list4">
              <label class="govuk-label govuk-radios__label" for="list-4">
                List 4 (15)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="list-5" name="list" type="radio" value="list5">
              <label class="govuk-label govuk-radios__label" for="list-5">
                List 5 (6)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="list-6" name="list" type="radio" value="list6">
              <label class="govuk-label govuk-radios__label" for="list-6">
                List 6 (11)
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-list" name="list" type="radio" value="new-list">
              <label class="govuk-label govuk-radios__label" for="new-list">
                Create a new list
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Save and continue</button>
    </form>

    </div>
  </div>


{% endblock %}
