{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">'list name' created</h1>
      </div>

        <br>
              <h2 class="govuk-heading-m">What to do next</h2>

              <p class="govuk-body">
            You now need to assign the referral to the new list.
              </p>
              <a href="claimant-detail" aria-describedby="add-to-list">
              <button class="govuk-button" data-module="govuk-button">Continue to referral</button>
    </div>
  </div>

{% endblock %}
