{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/finding-and-organising/v1/status-filter" method="post" class="form">

      <div class="govuk-form-group">
        <form action="/finding-and-organising/v2/remove-list" method="post" class="form">
        <fieldset class="govuk-fieldset" aria-describedby="remove-list-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Remove this referral from 'list name'?
            </h1>
          </legend>

          <div id="remove-list-hint" class="govuk-hint">
            You can reassign the referral at any point to any list in the referral detail page.
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remove-list-yes" name="remove-list" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="remove-list-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remove-list-no" name="remove-list" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="remove-list-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You are about to remove this referral from a list that it is assigned to
        </strong>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

    </div>

    </div>
  </div>


{% endblock %}
