{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="assign-list" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What do you want to name this caseload?
        </h1>
      </legend>

      <div class="govuk-form-group">
        <input class="govuk-input" id="search-name" name="search-name" type="text">
      </div>
      <a href="confirmation-list-assigned" aria-describedby="add-to-list">
        <button class="govuk-button" data-module="govuk-button">
          Create caseload
        </button>
      </a>

    </div>
  </div>

{% endblock %}
