{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <form action="/finding-and-organising/v2/remove-list" method="post" class="form">
        <fieldset class="govuk-fieldset" aria-describedby="remove-list-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you want to remove this referral from 'list name'?
            </h1>
          </legend>

          <div id="remove-list-hint" class="govuk-hint">
            You can also reassign this referral to the same list or another list after removing it.
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remove-list-yes" name="remove-list" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="remove-list-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="remove-list-no" name="remove-list" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="remove-list-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>

    </div>
  </div>


{% endblock %}
