{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Referrals
      </h1>

      <div class="dwp-card dwp-card--clickable">
        <div class="dwp-card__content">
          <h2 class="dwp-card__heading dwp-heading-m">
            <a class="dwp-card__link" href="#">Create a referral</a>
          </h2>
          <p class="dwp-card__description">Input a referral onto the health assessment service</p>
        </div>
      </div>
      <div class="dwp-card dwp-card--clickable">
        <div class="dwp-card__content">
          <h2 class="dwp-card__heading dwp-heading-m">
            <a class="dwp-card__link" href="#">View incomplete referrals</a>
          </h2>
          <p class="dwp-card__description">View a list and update incomplete referrals</p>
        </div>
      </div>
      <div class="dwp-card dwp-card--clickable">
        <div class="dwp-card__content">
          <h2 class="dwp-card__heading dwp-heading-m">
            <a class="dwp-card__link" href="state-model-mvp/v1/list">View active referrals</a>
          </h2>
          <p class="dwp-card__description">View a list and update the status of an ative health assessment referral</p>
        </div>
      </div>

    </div>
    </div>
  </div>

{% endblock %}
