{% extends "layout-key-details-nostatus.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
  
      <div class="pane__body width-container">
        <div class="pane__subnav">
          <nav class="subnav">
              <ul class="subnav__section"> 
                <li class="subnav__section-item subnav__section-item--current">
                  <a href="claimant-case-detail" class="subnav__link govuk-link govuk-link--no-visited-state">Referrals</a>
                </li>
    
                <li class="subnav__section-item">
                  <a href="claimant-detail" class="subnav__link govuk-link govuk-link--no-visited-state">Claimant details</a>
                </li>
    
                <li class="subnav__section-item">
                  <a href="#" class="subnav__link govuk-link govuk-link--no-visited-state">Appointments</a>   
                </li>
                
                <li class="subnav__section-item ">
                  <a href="#" class="subnav__link govuk-link govuk-link--no-visited-state">Evidence</a>   
                </li>
                
              </ul>
            </nav>
          </div>
      </div>
  
    </div>

    <div class="govuk-grid-column-three-quarters">

          <h2 class="govuk-heading-m">Referrals</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Benefit</th>
                <th scope="col" class="govuk-table__header">Referral date</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">PIP</td>
                <td class="govuk-table__cell">1 Jun 2021</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" id="Status 1">In Review</strong></td>
                <td class="govuk-table__cell">8 Jun 2021</td>
                <td class="govuk-table__cell"><a href="referral-detail" aria-describedby="referral-detail">View</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">ESA</td>
                <td class="govuk-table__cell">1 Feb 2021</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" id="Status 1">Assessment booked</strong></td>
                <td class="govuk-table__cell">28 May 2021</td>
                <td class="govuk-table__cell"><a href="#" aria-describedby="referral-detail">View</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">PIP</td>
                <td class="govuk-table__cell">23 Jan 2018</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 1">Archived</strong></td>
                <td class="govuk-table__cell">8 Jun 2018</td>
                <td class="govuk-table__cell"><a href="#" aria-describedby="referral-detail">View</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">PIP</td>
                <td class="govuk-table__cell">1 Feb 2016</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="Status 1">Archived</strong></td>
                <td class="govuk-table__cell">1 Aug 2016</td>
                <td class="govuk-table__cell"><a href="#" aria-describedby="referral-detail">View</a></td>
              </tr>
            </tbody>
          </table>
      
    </div>
  </div>
{% endblock %}
