{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="start" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        New referrals to assign
      </h1>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="status-hint">
          <div id="waste-hint" class="govuk-hint">
            Select a referral to assign it to a list.
          </div>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">NINO</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header">Referral date</th>
            <th scope="col" class="govuk-table__header">SRTI</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">John Doe</a></td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="srti-yes">Yes</strong></td>
              </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Janette Rafe</a></td>
            <td class="govuk-table__cell">RN001123A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="srti-yes">Yes</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail">Noelle Carmel</a></td>
            <td class="govuk-table__cell">RN000426D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="srti-yes">Yes</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-report">Sylevette Colwyn</a></td>
            <td class="govuk-table__cell">RN000111N</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="srti-yes">Yes</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-report">Ethan Thornton</a></td>
            <td class="govuk-table__cell">RN000161D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="srti-yes">Yes</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-report">Paige Gael</a></td>
            <td class="govuk-table__cell">RN000771T</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" id="srti-yes">Yes</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Susanna Shaye</a></td>
            <td class="govuk-table__cell">RN001123B</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="srti-yes">No</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Sand</a></td>
            <td class="govuk-table__cell">RN000111A</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="srti-yes">No</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Sand</a></td>
            <td class="govuk-table__cell">RN001122C</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="srti-yes">No</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Fran Simone</a></td>
            <td class="govuk-table__cell">RN001000E</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="srti-yes">No</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Danya Cecylia</a></td>
            <td class="govuk-table__cell">RN000133A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="srti-yes">No</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Xia Jeana</a></td>
            <td class="govuk-table__cell">RN000222A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" id="srti-yes">No</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
