{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">'list name' created</h1>
      </div>


              <h2 class="govuk-heading-m">What happens next</h2>

              <p class="govuk-body">
                As you've created a new list, you'll need to revisit the referral you wanted to assign to this list.
              </p>
            
      <p>
        <a href="claimant-detail-assigned" aria-describedby="claimant-detail">Go back to the referral</a>
      </p>

      <p>
        <a href="claimant-detail-assigned" aria-describedby="claimant-detail">Go back to the list</a>
      </p>

    </div>
  </div>

{% endblock %}
