{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Referral removed from 'list name here'</h1>
      </div>

      <p class="govuk-body">
    You have removed the referral from the list.
      </p>
      <p>
        <a href="claimant-detail" aria-describedby="claimant-detail">Go back to referral</a>
      </p>


    </div>
  </div>

{% endblock %}
