{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="find-claimant" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l govuk-!-margin-bottom-2">Find a claimant</span>
      <h1 class="govuk-heading-l">
        Results for 'Jane Doe'
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">NINO</th>
            <th scope="col" class="govuk-table__header">Date of birth</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header">SRTI</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Jane Doe</a></td>
            <td class="govuk-table__cell">RN000123A</td>
            <td class="govuk-table__cell">1 Feb 1969</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="Status 1">Unassigned</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-start-assessment.html" aria-describedby="claimant-detail">Jane Doe</a></td>
            <td class="govuk-table__cell">RN660663C</td>
            <td class="govuk-table__cell">1 Feb 1994</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" id="Status 1">Assessment booked</strong></td>
          </tr>
        </tbody>
      </table>

      <p>
        <a href="alternative-find-no-result-name" aria-describedby="search-referral">
          No results page
        </a>
      </p>
    </div>
  </div>

{% endblock %}
