{% extends "layout.html" %}

{% block pageTitle %}
  Health Assessment Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Referrals
      </h1>
      <div class="dwp-card dwp-card--clickable">
        <div class="dwp-card__content">
          <h2 class="dwp-card__heading dwp-heading-m">
            <a class="dwp-card__link" href="landing-page">Tresco House</a>
          </h2>
          <p class="dwp-card__description">View actions and referrals for Tresco house</p>
        </div>
      </div>
      <div class="dwp-card dwp-card--clickable">
        <div class="dwp-card__content">
          <h2 class="dwp-card__heading dwp-heading-m">
            <a class="dwp-card__link" href="#">Summerhill</a>
          </h2>
          <p class="dwp-card__description">View actions and referrals for Summerhill</p>
        </div>
      </div>
    </div>
    </div>
  </div>

{% endblock %}
