{% extends "layout-key-details.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}
<a href="claimant-detail" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="confirmation" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select a new case status
            </h1>
          </legend>
          <div id="sign-in-hint" class="govuk-hint">
            Some explanatory copy here.
          </div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in">
                Status 1
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                Some explanatory copy here.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                Status 2
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                Some explanatory copy here.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                Status 3
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                Some explanatory copy here.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                Status 4
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                Some explanatory copy here.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                Status 5
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                Some explanatory copy here.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                Status 6
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                Some explanatory copy here.
              </div>
            </div>
          </div>
      
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>

  </div>
</div>

{% endblock %}
