{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="start" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Awaiting decision referrals
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">NINO</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header">SRTI</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">John Doe</a></td>
            <td class="govuk-table__cell">RN 00 01 23 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">2 days ago</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Janette Rafe</a></td>
            <td class="govuk-table__cell">RN 00 11 23 A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">2 days ago</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail">Noelle Carmel</a></td>
            <td class="govuk-table__cell">RN 00 04 26 D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Today</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
