{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="find-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l govuk-!-margin-bottom-2">Find a claimant</span>
          <h1 class="govuk-fieldset__heading">
            How would you like to find the claimant?
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="find" name="find" type="radio" value="email" data-aria-controls="conditional-find">
            <label class="govuk-label govuk-radios__label" for="find">
              By name
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-find">
            <div class="govuk-form-group">
              <label class="govuk-label" for="find-by-name">
                Enter the claimant's full name
              </label>
              <input class="govuk-input" id="find-by-name" name="find-by-name" type="name" spellcheck="false">
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="find-2" name="find" type="radio" value="nino" data-aria-controls="conditional-find-2">
            <label class="govuk-label govuk-radios__label" for="find-2">
              By National Insurance number
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-find-2">
            <div class="govuk-form-group">
              <label class="govuk-hint" for="find-by-nino">
                For example, ‘QQ 12 34 56 C’
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="find-by-nino" name="find-by-nino" type="tel">
            </div>
          </div>
        </div>
    
      </fieldset>
    </div>


    <a href="claimant-detail" aria-describedby="search-referral">
      <button class="govuk-button" data-module="govuk-button">
        Search
      </button>
    </a>

    <p>
      <a href="alternative-find-name" aria-describedby="search-referral">
        Alternative result name
      </a>
    </p>
    <p>
      <a href="alternative-find" aria-describedby="search-referral">
        Alternative result NINO
      </a>
    </p>
    <p>
      <a href="find-claimant-validation" aria-describedby="search-referral">
        Validation error for search
      </a>
    </p>

  </div>
</div>

{% endblock %}
