{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="start" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Awaiting evidence referrals
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">NINO</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header">SRTI</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Most recent activity</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">John Doe</a></td>
            <td class="govuk-table__cell">RN 00 01 23 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">54 days ago</td>
            <td class="govuk-table__cell">Medical evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Janette Rafe</a></td>
            <td class="govuk-table__cell">RN 00 11 23 A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">44 days ago</td>
            <td class="govuk-table__cell">Other evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Noelle Carmel</a></td>
            <td class="govuk-table__cell">RN 00 04 26 D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">29 days ago</td>
            <td class="govuk-table__cell">Claimant evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review-report">Sylevette Colwyn</a></td>
            <td class="govuk-table__cell">RN 00 01 11 N</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">19 days ago</td>
            <td class="govuk-table__cell">Medical evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review-report">Ethan Thorn to n< /a ></td>
            <td class="govuk-table__cell">RN 00 01 61 D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">19 days ago</td>
            <td class="govuk-table__cell">Medical evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review-report">Paige Gael</a></td>
            <td class="govuk-table__cell">RN 00 07 71 T</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">11 days ago</td>
            <td class="govuk-table__cell">Medical evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Susanna Shaye</a></td>
            <td class="govuk-table__cell">RN 00 11 23 B</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">11 days ago</td>
            <td class="govuk-table__cell">Claimant evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Heather Sand</a></td>
            <td class="govuk-table__cell">RN 00 01 11 A</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">5 days ago</td>
            <td class="govuk-table__cell">Other evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Heather Sand</a></td>
            <td class="govuk-table__cell">RN 00 11 22 C</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">3 days ago</td>
            <td class="govuk-table__cell">Claimant evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Fran Simone</a></td>
            <td class="govuk-table__cell">RN 00 10 00 E</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">3 days ago</td>
            <td class="govuk-table__cell">Claimant evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Danya Cecylia</a></td>
            <td class="govuk-table__cell">RN 00 01 33 A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">3 days ago</td>
            <td class="govuk-table__cell">Other evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Xia Jeana</a></td>
            <td class="govuk-table__cell">RN 00 02 22 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">2 days ago</td>
            <td class="govuk-table__cell">Other evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Fran Simone</a></td>
            <td class="govuk-table__cell">RN 00 10 00 E</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">2 days ago</td>
            <td class="govuk-table__cell">Other evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Danya Cecylia</a></td>
            <td class="govuk-table__cell">RN 00 01 33 A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">2 days ago</td>
            <td class="govuk-table__cell">Medical evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail-review">Xia Jeana</a></td>
            <td class="govuk-table__cell">RN 00 02 22 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">1 day ago</td>
            <td class="govuk-table__cell">Claimant evidence needed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
