{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="start" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Jared Mosely-Redman's caseload
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">NINO</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header">SRTI</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Most recent activity</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-assigned" aria-describedby="claimant-detail">Fran Cliffe</a></td>
            <td class="govuk-table__cell">RN 22 10 00 E</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">1 day ago</td>
            <td class="govuk-table__cell">Assigned</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Xia Jeana</a></td>
            <td class="govuk-table__cell">RN 00 02 22 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">20 days ago</td>
            <td class="govuk-table__cell">Questionnaire issued</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail">Noelle Carmel</a></td>
            <td class="govuk-table__cell">RN 00 04 26 D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">6 days ago</td>
            <td class="govuk-table__cell">Questionnaire issued</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail">Fran Simone</a></td>
            <td class="govuk-table__cell">RN 00 10 00 E</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">13 days ago</td>
            <td class="govuk-table__cell">Awaiting information</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-reveiwingclaim" aria-describedby="claimant-detail">Jane Doe</a></td>
            <td class="govuk-table__cell">RN 03 44 26 C</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Today</td>
            <td class="govuk-table__cell">Awaiting information</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-review" aria-describedby="claimant-detail">Danya Cecylia</a></td>
            <td class="govuk-table__cell">RN 00 01 33 A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">7 days ago</td>
            <td class="govuk-table__cell">Claimant contact needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">John Brady</a></td>
            <td class="govuk-table__cell">RN 00 01 96 Z</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">19 days ago</td>
            <td class="govuk-table__cell">Medical evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Sam Smart</a></td>
            <td class="govuk-table__cell">RN 00 09 83 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">2 days ago</td>
            <td class="govuk-table__cell">Other evidence needed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-start-assessment" aria-describedby="claimant-detail-start-assessment">Luce Deryn</a></td>
            <td class="govuk-table__cell">RN 00 01 46 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">4 days ago</td>
            <td class="govuk-table__cell">Paper based review</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-start-assessment" aria-describedby="claimant-detail-start-assessment">John Doe</a></td>
            <td class="govuk-table__cell">RN 00 01 73 B</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">1 day ago</td>
            <td class="govuk-table__cell">Face to face assessment</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail">John Doe</a></td>
            <td class="govuk-table__cell">RN 00 01 26 F</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Today</td>
            <td class="govuk-table__cell">Awaiting decision</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
