{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        New referrals to assign 
      </h1>

      <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col" id="select-all">
                <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" id="checkboxes-all">
                  <label class="govuk-label govuk-checkboxes__label moj-multi-select__toggle-label" for="checkboxes-all">
                    <span class="govuk-visually-hidden">Select all</span>
                  </label>
                </div>
              </th>
              <th class="govuk-table__header" scope="col">Claimant name</th>
              <th class="govuk-table__header" scope="col">NINO</th>
              <th class="govuk-table__header" scope="col">Benefit</th>
              <th class="govuk-table__header" scope="col">Referral date</th>
              <th class="govuk-table__header" scope="col">SRTI</th>
              <th class="govuk-table__header" scope="col">Assessment centre</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-1">
                <label class="govuk-label govuk-checkboxes__label" for="row-1">
                  <span class="govuk-visually-hidden">Select row 1</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">John Doe</a></td>
            <td class="govuk-table__cell">RN 00 01 23 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Tresco House</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-2">
                <label class="govuk-label govuk-checkboxes__label" for="row-2">
                  <span class="govuk-visually-hidden">Select row 2</span>
                </label>
              </div>
            </td>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Janette Rafe</a></td>
            <td class="govuk-table__cell">RN 00 11 23 A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Tresco House</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-3">
                <label class="govuk-label govuk-checkboxes__label" for="row-3">
                  <span class="govuk-visually-hidden">Select row 3</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Noelle Carmel</a></td>
            <td class="govuk-table__cell">RN 00 04 26 D</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Tresco House</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-4">
                <label class="govuk-label govuk-checkboxes__label" for="row-4">
                  <span class="govuk-visually-hidden">Select row 4</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail-report">Sylevette Colwyn</a></td>
            <td class="govuk-table__cell">RN 00 01 11 N</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">10 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Tresco House</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-5">
                <label class="govuk-label govuk-checkboxes__label" for="row-5">
                  <span class="govuk-visually-hidden">Select row 5</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Susanna Shaye</a></td>
            <td class="govuk-table__cell">RN 00 11 23 B</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">21 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Tresco House</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-6">
                <label class="govuk-label govuk-checkboxes__label" for="row-6">
                  <span class="govuk-visually-hidden">Select row 6</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Sand</a></td>
            <td class="govuk-table__cell">RN 00 01 11 A</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">1 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Handsworth</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-7">
                <label class="govuk-label govuk-checkboxes__label" for="row-7">
                  <span class="govuk-visually-hidden">Select row 7</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Fran Simone</a></td>
            <td class="govuk-table__cell">RN 00 10 00 E</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">6 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Handsworth</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-8">
                <label class="govuk-label govuk-checkboxes__label" for="row-8">
                  <span class="govuk-visually-hidden">Select row 8</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Danya Cecylia</a></td>
            <td class="govuk-table__cell">RN 00 01 33 A</td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Handsworth</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-9">
                <label class="govuk-label govuk-checkboxes__label" for="row-9">
                  <span class="govuk-visually-hidden">Select row 9</span>
                </label>
              </div>
            </td>
            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Xia Jeana</a></td>
            <td class="govuk-table__cell">RN 00 02 22 A</td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell">16 Feb 2021</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Handsworth</td>
          </tr>
        </tbody>
      </table>
      <a href="unassigned-list">
        <button class="govuk-button" data-module="govuk-button">
          Assign referrals to caseload
        </button>
      </a>

      <p>
        <a href="new-referrals-validation" aria-describedby="new-referrals-validation">
          Validation example
        </a>
      </p>

    </div>
  </div>

{% endblock %}
