{% extends "layout.html" %}

{% block pageTitle %}
  Referral State Model Prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Finding and organising
      </h1>

      <h2 class="govuk-heading-m">Design sprint</h2>
      <p><a href="https://miro.com/app/board/o9J_lS2a_7k=/?moveToWidget=3074457356830088627&cot=14" role="button" draggable="false" aria-describedby="miro-link">Finding and organising design sprint miro board</a></p>

      <p>This prototype looks at how we can find and organise the active referral list page.  It allows a user to do the following: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Find a referral by searching</li>
        <li>View the active referrals broken down by status</li>
      </ul>

      <a href="finding-and-organising/v1/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Design Jam on assigning a referral to a specific list</h2>
      <p><a href="https://miro.com/app/board/o9J_lMKM0Po=/?moveToWidget=3074457358593960983&cot=14" role="button" draggable="false" aria-describedby="miro-link">View my referrals design sprint miro board</a></p>

      <p>This prototype looks at how we can assign a referral to a specific list: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Assign a given referral to a list</li>
        <li>Create a new list</li>
        <li>Remove referral from a list</li>
        <li>view a list with referrals assigned to it</li>
        <li>view the case manager responsible on claimant detail page - iteration 2 addition</li>
      </ul>

      <a href="finding-and-organising/v2/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Bulk assigning of new referrals</h2>

      <p>This prototype allows a user to bulk assign new referrals, it is an iteration from the design jam above</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>new high level card on homepage</li>
        <li>Bulk assign new referrals to a caseload</li>
        <li>Create a new caseload</li>
        <li>Automatic update of status to assign when assigning a referral from unassigned</li>
        <li>move referral to another caseload</li>
        <li>view a caseload with referrals assigned to it</li>
        <li>view the case manager responsible on claimant detail page</li>
        <li>view the location on bulk assign and claimant detail page</li>
      </ul>

      <a href="finding-and-organising/v4/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Viewing referrals in a list with date stamp and status iterations</h2>

      <p>This prototype shows a date stamp for the last action that was taken on a case when viewing a list</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Date stamp on list view for referrals</li>
        <li>Do we need timestamp?</li>
        <li>SRTI in lozange on some lists</li>
        <li>Removal of 'No' from SRTI lists in others to see if Yes stands out more</li>
        <li>conditional reveal on status page, with updated status set</li>
      </ul>

      <a href="finding-and-organising/v3/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Blue sky prototypes
          </span>
        </summary>
        <div class="govuk-details__text">

          <h2 class="govuk-heading-m"><a href="finding-and-organising/bluesky/v1/" aria-describedby="bluesky-prototype-1">Assigning cases</a></h2>
          <p><strong>PROMOTED TO MAIN PROTOTYPE AREA TO BE TESTED</strong></p>
          <p>Referrals to assign now at high level on homepage.</p>
          <p>Check boxes to allow multiple referrals to be assigned in one go on the list.</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/bluesky/v2/" aria-describedby="bluesky-prototype-2">Option to create list without adding referral</a></h2>
          <p>Create a list with option of adding referral to a different list</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/bluesky/v3/" aria-describedby="bluesky-prototype-3">Site Indentification varients</a></h2>
          <p>possible version 1: Site identification at high level on assign page.</p>
          <p>possible version 2: Site identification at highest level - new landing page.</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/bluesky/v4/" aria-describedby="bluesky-prototype-4">Search by name</a></h2>
          <p>search by full name as well as NINO.</p>

        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Archive
          </span>
        </summary>
        <div class="govuk-details__text">

          <h2 class="govuk-heading-m"><a href="finding-and-organising/archive/v1/" aria-describedby="Achived-prototype-1">Achived prototype 1</a></h2>
          <p>Prototype has both search and filter on one day, under 'Find or view a list of active referrals and manage the status of a referral'</p>
          <p>Two main call to actions on one page. Archived due to this being against the GDS principle of one thing per page</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/archive/v2/" aria-describedby="Achived-prototype-2">Achived prototype 2</a></h2>
          <p>Merged the ability to 'search or filter' into one action and named it search.</p>
          <p>The user can either search or view a list by status, they can't do both. Archived due to this being confusing and aganst GDS principle of one thing per page</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/archive/usertesting1/" aria-describedby="User-testing-session-1">User testing session 1</a></h2>
          <p>Session dates - 12/5/21 and 19/5/21</p>
          <p>Find a referral by searching - no directly specified search term and ability to view the active referrals broken down by status</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/archive/find-claimant/" aria-describedby="find-claimant">Find claimant improvements</a></h2>
          <p>find claimant improvement prototype for dev stories</p>
          <p>Find a claimant by searching for a NINO. If one result straight through to claimant detail, if multiple referrals for one NINO show list view with results</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/archive/v3/" aria-describedby="archive v3">Archived prototype 3</a></h2>
          <p>filter by page has long list of radios for both list and status type as opposed to haing them as conditional reveals</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/archive/usertesting2/" aria-describedby="User-testing-session-2">User testing session 2</a></h2>
          <p>Session dates - 09/06/21, 16/06/21 and 23/06/21</p>
          <p>Testing of filter by list view - Assign a given referral to a list, Create a new list, Remove referral from a list, view a list with referrals assigned to it</p>

          <h2 class="govuk-heading-m"><a href="finding-and-organising/archive/usertesting3/" aria-describedby="User-testing-session-3">User testing session 3</a></h2>
          <p>Session dates - 01/07/21 Iteration 2 of caseload and bulk assign</p>
          <p>Testing of filter by list view - Assign a given referral to a list, Create a new list, Remove referral from a list, view a list with referrals assigned to it</p>

        </div>
      </details>


      

    </div>
  </div>
{% endblock %}
