{% extends "layout.html" %}

{% block pageTitle %}
  Team Chaffinch prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="referral-state-model">Referral state model</a>
              </h2>
              <p class="dwp-card__description">Simplifying how a referral can be pushed end-to-end through the Health Assessment Service.</p>
            </div>
          </div>
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="finding-and-organising">Finding and organising</a>
              </h2>
              <p class="dwp-card__description">Helping a user find a claimant and manage the list of active referrals</p>
            </div>
          </div>
    </div>
  </div>
{% endblock %}
