{% extends "layout.html" %}

{% block pageTitle %}
  Referral list
{% endblock %}

{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Find or Filter referrals
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="search-name">
          Search a claimant by name
        </label>
        <input class="govuk-input" id="search-name" name="search-name" type="text">
        <a href="search-results" aria-describedby="search-referral">
          <button class="govuk-button" data-module="govuk-button">
            Search
          </button>
        </a>
      </div>

      <p>Pop filter-y stuff here</p>
      <a href="#" aria-describedby="filter-referral">
        <button class="govuk-button" data-module="govuk-button">
          Filter
        </button>
      </a>

    </div>
  </div>

{% endblock %}
